<main ng-controller="successCasectr">

    <div class="ne-lie1 container" ng-if="activeIndex==0">
        <div class="ne-in-1">
            <div class="ne-tu-1">
                <img src="../img/new/1.jpg" alt="" class="ne-img">
            </div>
            <div class="ne-r-1">
                <h2>企业在线学习•行业盛会CEFE，通铭教育邀您来参加！</h2>
                <h4>作者：本站 发布日期：2016-08-30</h4>
                <p>中国企业在线学习大会ChinaE-LearningForum&amp;Exhibition，简称CEFE。<是中国企业探讨和                   ></是中国企业探讨和>研究最新学习技术、学习模式与学习理念的年度盛会。主办方在线教育资讯网（                   www.online-edu.org）是中国唯一十五年来专注于企业在..
                </p>
                <span class="ne-mo">查看详情</span>
            </div>
        </div>

        <div class="ne-in-1">
            <div class="ne-tu-1">
                <img src="../img/new/2.jpg" alt="" class="ne-img">
            </div>
            <div class="ne-r-1">
                <h2>企业在线学习•行业盛会CEFE，通铭教育邀您来参加！</h2>
                <h4>作者：本站 发布日期：2016-08-30</h4>
                <p>中国企业在线学习大会ChinaE-LearningForum&amp;Exhibition，简称CEFE。<是中国企业探讨和></是中国企业探讨和>研究最新学习技术、学习模式与学习理念的年度盛会。主办方在线教育资讯网（www.online-edu.org）是中国唯一十五年来专注于企业在..
                </p>
                <span class="ne-mo">查看详情</span>
            </div>
        </div>

        <div class="ne-in-1">
            <div class="ne-tu-1">
                <img src="../img/new/3.jpg" alt="" class="ne-img">
            </div>
            <div class="ne-r-1">
                <h2>企业在线学习•行业盛会CEFE，通铭教育邀您来参加！</h2>
                <h4>作者：本站 发布日期：2016-08-30</h4>
                <p>中国企业在线学习大会ChinaE-LearningForum&amp;Exhibition，简称CEFE。<是中国企业探讨和                   ></是中国企业探讨和>研究最新学习技术、学习模式与学习理念的年度盛会。主办方在线教育资讯网（                   www.online-edu.org）是中国唯一十五年来专注于企业在..
                </p>
                <span class="ne-mo">查看详情</span>
            </div>
        </div>

        <div class="ne-in-1">
            <div class="ne-tu-1">
                <img src="../img/new/4.jpg" alt="" class="ne-img">
            </div>
            <div class="ne-r-1">
                <h2>企业在线学习•行业盛会CEFE，通铭教育邀您来参加！</h2>
                <h4>作者：本站 发布日期：2016-08-30</h4>
                <p>中国企业在线学习大会ChinaE-LearningForum&amp;Exhibition，简称CEFE。<是中国企业探讨和                   ></是中国企业探讨和>研究最新学习技术、学习模式与学习理念的年度盛会。主办方在线教育资讯网（                   www.online-edu.org）是中国唯一十五年来专注于企业在..
                </p>
                <span class="ne-mo">查看详情</span>
            </div>
        </div>

        <div class="ne-in-1">
            <div class="ne-tu-1">
                <img src="../img/new/5.jpg" alt="" class="ne-img">
            </div>
            <div class="ne-r-1">
                <h2>企业在线学习•行业盛会CEFE，通铭教育邀您来参加！</h2>
                <h4>作者：本站 发布日期：2016-08-30</h4>
                <p>中国企业在线学习大会ChinaE-LearningForum&amp;Exhibition，简称CEFE。<是中国企业探讨和                   ></是中国企业探讨和>研究最新学习技术、学习模式与学习理念的年度盛会。主办方在线教育资讯网（                   www.online-edu.org）是中国唯一十五年来专注于企业在..
                </p>
                <span class="ne-mo">查看详情</span>
            </div>
        </div>

        <div class="ne-in-1">
            <div class="ne-tu-1">
                <img src="../img/new/6.jpg" alt="" class="ne-img">
            </div>
            <div class="ne-r-1">
                <h2>企业在线学习•行业盛会CEFE，通铭教育邀您来参加！</h2>
                <h4>作者：本站 发布日期：2016-08-30</h4>
                <p>中国企业在线学习大会ChinaE-LearningForum&amp;Exhibition，简称CEFE。<是中国企业探讨和                   ></是中国企业探讨和>研究最新学习技术、学习模式与学习理念的年度盛会。主办方在线教育资讯网（                   www.online-edu.org）是中国唯一十五年来专注于企业在..
                </p>
                <span class="ne-mo">查看详情</span>
            </div>
        </div>

    </div>

    <div class="ne-lie1 container" ng-if="activeIndex==1">

        <div class="ne-in-1">
            <div class="ne-tu-1">
                <img src="../img/new/7.jpg" alt="" class="ne-img">
            </div>
            <div class="ne-r-1">
                <h2>企业在线学习•行业盛会CEFE，通铭教育邀您来参加！</h2>
                <h4>作者：本站 发布日期：2016-08-30</h4>
                <p>中国企业在线学习大会ChinaE-LearningForum&amp;Exhibition，简称CEFE。<是中国企业探讨和                   ></是中国企业探讨和>研究最新学习技术、学习模式与学习理念的年度盛会。主办方在线教育资讯网（                   www.online-edu.org）是中国唯一十五年来专注于企业在..
                </p>
                <span class="ne-mo">查看详情</span>
            </div>
        </div>

        <div class="ne-in-1">
            <div class="ne-tu-1">
                <img src="../img/new/8.jpg" alt="" class="ne-img">
            </div>
            <div class="ne-r-1">
                <h2>企业在线学习•行业盛会CEFE，通铭教育邀您来参加！</h2>
                <h4>作者：本站 发布日期：2016-08-30</h4>
                <p>中国企业在线学习大会ChinaE-LearningForum&amp;Exhibition，简称CEFE。<是中国企业探讨和                   ></是中国企业探讨和>研究最新学习技术、学习模式与学习理念的年度盛会。主办方在线教育资讯网（                   www.online-edu.org）是中国唯一十五年来专注于企业在..
                </p>
                <span class="ne-mo">查看详情</span>
            </div>
        </div>

        <div class="ne-in-1">
            <div class="ne-tu-1">
                <img src="../img/new/9.jpg" alt="" class="ne-img">
            </div>
            <div class="ne-r-1">
                <h2>企业在线学习•行业盛会CEFE，通铭教育邀您来参加！</h2>
                <h4>作者：本站 发布日期：2016-08-30</h4>
                <p>中国企业在线学习大会ChinaE-LearningForum&amp;Exhibition，简称CEFE。<是中国企业探讨和                   ></是中国企业探讨和>研究最新学习技术、学习模式与学习理念的年度盛会。主办方在线教育资讯网（                   www.online-edu.org）是中国唯一十五年来专注于企业在..
                </p>
                <span class="ne-mo">查看详情</span>
            </div>
        </div>

        <div class="ne-in-1">
            <div class="ne-tu-1">
                <img src="../img/new/10.jpg" alt="" class="ne-img">
            </div>
            <div class="ne-r-1">
                <h2>企业在线学习•行业盛会CEFE，通铭教育邀您来参加！</h2>
                <h4>作者：本站 发布日期：2016-08-30</h4>
                <p>中国企业在线学习大会ChinaE-LearningForum&amp;Exhibition，简称CEFE。<是中国企业探讨和                   ></是中国企业探讨和>研究最新学习技术、学习模式与学习理念的年度盛会。主办方在线教育资讯网（                   www.online-edu.org）是中国唯一十五年来专注于企业在..
                </p>
                <span class="ne-mo">查看详情</span>
            </div>
        </div>

        <div class="ne-in-1">
            <div class="ne-tu-1">
                <img src="../img/new/11.jpg" alt="" class="ne-img">
            </div>
            <div class="ne-r-1">
                <h2>企业在线学习•行业盛会CEFE，通铭教育邀您来参加！</h2>
                <h4>作者：本站 发布日期：2016-08-30</h4>
                <p>中国企业在线学习大会ChinaE-LearningForum&amp;Exhibition，简称CEFE。<是中国企业探讨和                   ></是中国企业探讨和>研究最新学习技术、学习模式与学习理念的年度盛会。主办方在线教育资讯网（                   www.online-edu.org）是中国唯一十五年来专注于企业在..
                </p>
                <span class="ne-mo">查看详情</span>
            </div>
        </div>

        <div class="ne-in-1">
            <div class="ne-tu-1">
                <img src="../img/new/12.jpg" alt="" class="ne-img">
            </div>
            <div class="ne-r-1">
                <h2>企业在线学习•行业盛会CEFE，通铭教育邀您来参加！</h2>
                <h4>作者：本站 发布日期：2016-08-30</h4>
                <p>中国企业在线学习大会ChinaE-LearningForum&amp;Exhibition，简称CEFE。<是中国企业探讨和                   ></是中国企业探讨和>研究最新学习技术、学习模式与学习理念的年度盛会。主办方在线教育资讯网（                   www.online-edu.org）是中国唯一十五年来专注于企业在..
                </p>
                <span class="ne-mo">查看详情</span>
            </div>
        </div>
    </div>

    <div class="ne-lie1 container" ng-if="activeIndex==2">
        <div class="ne-in-1">
            <div class="ne-tu-1">
                <img src="../img/new/13.jpg" alt="" class="ne-img">
            </div>
            <div class="ne-r-1">
                <h2>企业在线学习•行业盛会CEFE，通铭教育邀您来参加！</h2>
                <h4>作者：本站 发布日期：2016-08-30</h4>
                <p>中国企业在线学习大会ChinaE-LearningForum&amp;Exhibition，简称CEFE。<是中国企业探讨和                   ></是中国企业探讨和>研究最新学习技术、学习模式与学习理念的年度盛会。主办方在线教育资讯网（                   www.online-edu.org）是中国唯一十五年来专注于企业在..
                </p>
                <span class="ne-mo">查看详情</span>
            </div>
        </div>

        <div class="ne-in-1">
            <div class="ne-tu-1">
                <img src="../img/new/14.jpg" alt="" class="ne-img">
            </div>
            <div class="ne-r-1">
                <h2>企业在线学习•行业盛会CEFE，通铭教育邀您来参加！</h2>
                <h4>作者：本站 发布日期：2016-08-30</h4>
                <p>中国企业在线学习大会ChinaE-LearningForum&amp;Exhibition，简称CEFE。<是中国企业探讨和                   ></是中国企业探讨和>研究最新学习技术、学习模式与学习理念的年度盛会。主办方在线教育资讯网（                   www.online-edu.org）是中国唯一十五年来专注于企业在..
                </p>
                <span class="ne-mo">查看详情</span>
            </div>
        </div>
    </div>

    <!--分页按钮-->
    <div class="ne-na">
        <ul class="ne-nav list-inline">
            <li ng-class="{'active':activeIndex==0}"
                ng-click="changeIndex(0)">首页</li>
            <li ng-class="{'active':activeIndex==0}"
                ng-click="changeIndex(0)">上一页</li>
            <li ng-class="{'active':activeIndex==0}"
                ng-click="changeIndex(0)">1</li>
            <li ng-class="{'active':activeIndex==1}"
                ng-click="changeIndex(1)">2</li>
            <li ng-class="{'active':activeIndex==2}"
                ng-click="changeIndex(2)">3</li>
            <li ng-class="{'active':activeIndex==2}"
                ng-click="changeIndex(2)">下一页</li>
            <li ng-class="{'active':activeIndex==2}"
                ng-click="changeIndex(2)">尾页</li>
        </ul>
        <p class="ne-p">共3页，14条记录</p>
    </div>

</main>