.containerf{
	/*width:100%;*/
}
.bgJpg{
	clear: both; 
	display: block; 
	/*margin:auto;*/
	/*width:100%;*/
	height: 236px;
	background:url("../../img/develope/l2.jpg") no-repeat;
	color:white;
	padding-top:140px;
	padding-left:108px;
	font-size: 40px;
}

.navi{
	width: 100%;
	height: 60px;
	border-bottom: 1px solid #e3e3e3;
	background:#f3f3f3;
}
.navi1{
	width:545px;
	height: 60px;
	margin-left:65px;
}
.navi2{
	width:89px;
	height: 60px;
	float:left;
	margin-right:20px;
	color:#666;
	text-align: center;
	line-height: 60px;
}
.navi2 a{
    display: inline-block;
    text-decoration: none;
    color: #666;
    transition: .4s;
}
.navi2 a:hover{
    text-decoration: none;
    color: #000;
    border-bottom: 2px solid #000;
}
.lv-de-active{
    width: 70px;
    border-bottom: 2px solid #000;
}
