.containerf{
  /*width:100%;*/
}
.bgJpg{
  clear: both;
  display: block;
  /*margin:auto;*/
  /*width:100%;*/
  height: 236px;
  background:url("../../img/develope/l2.jpg") no-repeat;
  color:white;
  padding-top:140px;
  padding-left:108px;
  font-size: 40px;
}

.navi{
  width: 100%;
  height: 60px;
  border-bottom: 1px solid #e3e3e3;
  background:#f3f3f3;
}
.navi1{
  width:545px;
  height: 60px;
  margin-left:65px;
}
.navi2{
  width:89px;
  height: 60px;
  float:left;
  margin-right:20px;
  color:#666;
  text-align: center;
  line-height: 60px;
}
.navi2 a{
  display: inline-block;
  text-decoration: none;
  color: #666;
  transition: .4s;
}
.navi2 a:hover{
  text-decoration: none;
  color: #000;
  border-bottom: 2px solid #000;
}
.lv-de-active{
  width: 70px;
  border-bottom: 2px solid #000;
}
/*ÊÂ¼þÊ÷*/

.lv-header {
  text-align: center;
}
.lv-header h1 {
  font-size: 24px;
  margin: 60px 0 50px 0;
}
.lv-round {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid #cccccc;
  margin: 0 auto;
}
.lv-start {
  padding: 30px 0 30px 0;
  margin: 0;
  height: 210px;
  border-right: 1px solid #d2d2d2;
  position: relative;
}
.lv-start img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}
.lv-start .lv-str {
  float: right;
  margin-right: 20px ;
  margin-top: 10px;
}
.lv-start .lv-str h3,
.lv-start .lv-str p {
  display: inline-block;
}
.lv-start .lv-str h3 {
  font-size: 32px;
  font-weight: bold;
}
.lv-start .lv-str h4 {
  font-size: 12px;
}
.lv-start1 {
  padding: 30px 0 30px 0;
  margin: 0;
  border-left: 1px solid #d2d2d2;
  position: relative;
  height: 210px;
}
.lv-start1 img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  float: right;
}
.lv-start1 .lv-str1 {
  float: left;
  margin-left: 20px ;
  margin-top: 10px;
}
.lv-start1 .lv-str1 h3,
.lv-start1 .lv-str1 p {
  display: inline-block;
}
.lv-start1 .lv-str1 h3 {
  font-size: 32px;
  font-weight: bold;
}
.lv-start1 .lv-str1 h4 {
  font-size: 12px;
}
.lv-round1 {
  width: 23px;
  height: 23px;
  border: 1px solid #cccccc;
  background: #ffffff;
  border-radius: 50%;
  position: absolute;
  top: 70px;
  right: -12px;
}
.lv-round1 .lv-round2 {
  width: 13px;
  height: 13px;
  background: #000000;
  margin: 4px auto;
  border-radius: 50%;
}
.lv-round11 {
  width: 23px;
  height: 23px;
  border: 1px solid #cccccc;
  background: #ffffff;
  border-radius: 50%;
  position: absolute;
  top: 70px;
  left: -12px;
}
.lv-round11 .lv-round22 {
  width: 13px;
  height: 13px;
  background: #000000;
  margin: 4px auto;
  border-radius: 50%;
}
.lv-header3 {
  font-size: 16;
  text-align: center;
}
.lv-h1:hover {
  cursor: pointer;
}
.lv-h1:hover h4 {
  color: #0F66CD;
}
.lv-h1:hover .col-md-6 h3 {
  -webkit-transition: .5s;
          transition: .5s;
  -webkit-transform: translate(-10px, 0);
      -ms-transform: translate(-10px, 0);
          transform: translate(-10px, 0);
}
.lv-h1:hover .col-md-6 p {
  -webkit-transition: .5s;
          transition: .5s;
  -webkit-transform: translate(-10px, 0);
      -ms-transform: translate(-10px, 0);
          transform: translate(-10px, 0);
}
.lv-h:hover {
  cursor: pointer;
}
.lv-h:hover h4 {
  color: #0F66CD;
}
.lv-h:hover .col-md-6 h3 {
  -webkit-transition: .5s;
          transition: .5s;
  -webkit-transform: translate(10px, 0);
      -ms-transform: translate(10px, 0);
          transform: translate(10px, 0);
}
.lv-h:hover .col-md-6 p {
  -webkit-transition: .5s;
          transition: .5s;
  -webkit-transform: translate(10px, 0);
      -ms-transform: translate(10px, 0);
          transform: translate(10px, 0);
}
