main {
  background: #f7f7f7;
}
main .so-out1 {
  background-image: url("../../img/images/solve_banner.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 100% ;
  height: 500px;
  overflow: hidden;
  margin-bottom: 30px;
}
main .so-out1 h3 {
  font-size: 45px;
  color: white;
  margin-top: 210px;
  text-align: center;
}
main .so-out1 h4 {
  font-size: 22px;
  color: white;
  margin-top: 30px;
  text-align: center;
}
main .so-h1 {
  height: 70px;
}
main .so-h1 .so-d {
  display: inline-block;
  background: url("../../img/images/y-ico.png");
  width: 40px;
  height: 40px;
  background-repeat: no-repeat;
  background-position: -140px 10px;
  vertical-align: middle;
}
main .so-h1 h3 {
  font-size: 28px;
  display: inline;
  vertical-align: middle;
}
main .so-padding {
  padding: 0;
}
main .so-out2 {
  padding: 0;
  background: #ffffff;
}
main .so-out2 .so-inner-fl {
  padding: 0;
}
main .so-out2 .so-inner-fl img {
  width: 100%;
}
main .so-out2 .so-inner-fr h3 {
  font-size: 18px;
  font-weight: 600;
  margin-left: 15%;
  margin-top: 50px;
}
main .so-out2 .so-inner-fr ul {
  margin-left: 15%;
  line-height: 40px;
  margin-top: 30px;
}
main .so-out2 .so-inner-fr ul li {
  vertical-align: middle;
}
main .so-out2 .so-inner-fr ul .so-a {
  display: inline-block;
  background: url("../../img/images/y-ico.png");
  height: 30px;
  width: 30px;
  background-repeat: no-repeat;
  background-position: -273px 0;
  vertical-align: middle;
}
main .so-out2 .so-inner-fr ul .so-b {
  display: inline-block;
  background: url("../../img/images/y-ico.png");
  height: 30px;
  width: 30px;
  background-repeat: no-repeat;
  background-position: -314px 0;
  vertical-align: middle;
}
main .so-out2 .so-inner-fr ul .so-c {
  display: inline-block;
  background: url("../../img/images/y-ico.png");
  height: 30px;
  width: 30px;
  background-repeat: no-repeat;
  background-position: -357px 0;
  vertical-align: middle;
}
main .so-ul {
  padding: 0;
}
main .so-ul .row {
  padding: 0;
}
main .so-ul .so-li1 {
  height: 300px;
  padding: 0;
  background: white;
  display: inline-block;
}
main .so-ul .so-li1 h3 {
  display: inline-block;
  font-size: 26px;
  font-weight: bold;
  line-height: 50px;
  margin-left: 124px;
  vertical-align: middle;
}
main .so-ul .so-li1 .so-tu1 {
  display: inline-block;
  margin-top: 30px;
  background: url("../../img/images/channel_solu_yan_1_ico.png");
  height: 100px;
  width: 100px;
  background-repeat: no-repeat;
  background-position: 14px 0;
  vertical-align: middle;
}
main .so-ul .so-li1 h4 {
  text-align: center;
  font-size: 18px;
}
main .so-ul .so-li1 p {
  font-size: 12px;
  margin-top: 50px;
  text-align: center;
}
main .so-ul .so-li1:hover {
  border: 1px solid blue;
}
main .so-ul .so-li1:hover .so-tu1 {
  -webkit-transform: translate(10px, 0);
      -ms-transform: translate(10px, 0);
          transform: translate(10px, 0);
  -webkit-transition: 0.5s;
          transition: 0.5s;
}
main .so-ul .so-li2 {
  background: #f7f7f7;
  display: inline-block;
  height: 300px;
}
main .so-ul .so-li2 h3 {
  display: inline-block;
  font-size: 26px;
  font-weight: bold;
  line-height: 50px;
  margin-left: 124px;
  vertical-align: middle;
}
main .so-ul .so-li2 .so-tu2 {
  display: inline-block;
  margin-top: 30px;
  background: url("../../img/images/channel_solu_yan_1_ico.png");
  height: 100px;
  width: 100px;
  background-repeat: no-repeat;
  background-position: -84px 0;
  vertical-align: middle;
}
main .so-ul .so-li2 h4 {
  text-align: center;
  font-size: 18px;
}
main .so-ul .so-li2 hr {
  width: 100%;
  border: .8px solid white;
}
main .so-ul .so-li2 ul {
  overflow: hidden;
}
main .so-ul .so-li2 ul li:first-child {
  border-right: 1px solid #9f9f9f;
  float: left;
}
main .so-ul .so-li2 ul li {
  text-align: center;
}
main .so-ul .so-li2 ul b {
  margin-left: 26px;
}
main .so-ul .so-li2 ul p {
  font-size: 12px;
  margin-top: 10px;
  margin-left: 26px;
  margin-right: 10px;
}
main .so-ul .so-li2:hover {
  border: 1px solid blue;
}
main .so-ul .so-li2:hover .so-tu2 {
  -webkit-transform: translate(10px, 0);
      -ms-transform: translate(10px, 0);
          transform: translate(10px, 0);
  -webkit-transition: 0.5s;
          transition: 0.5s;
}
main .so-ul .so-li3 {
  background: white;
  display: inline-block;
  height: 300px;
}
main .so-ul .so-li3 h3 {
  display: inline-block;
  font-size: 26px;
  font-weight: bold;
  line-height: 50px;
  margin-left: 124px;
  vertical-align: middle;
}
main .so-ul .so-li3 .so-tu3 {
  display: inline-block;
  margin-top: 30px;
  background: url("../../img/images/channel_solu_yan_1_ico.png");
  height: 100px;
  width: 100px;
  background-repeat: no-repeat;
  background-position: -200px 0;
  vertical-align: middle;
}
main .so-ul .so-li3 h4 {
  text-align: center;
  font-size: 18px;
}
main .so-ul .so-li3 p {
  font-size: 12px;
  margin-top: 50px;
  text-align: center;
}
main .so-ul .so-li3:hover {
  border: 1px solid blue;
}
main .so-ul .so-li3:hover .so-tu3 {
  -webkit-transform: translate(10px, 0);
      -ms-transform: translate(10px, 0);
          transform: translate(10px, 0);
  -webkit-transition: 0.5s;
          transition: 0.5s;
}
main .so-two-out {
  width: 100%;
  height: 800px;
  background: url("../../img/images/hz_banner.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  margin-top: 50px;
  overflow: hidden;
}
main .so-two-out .so-box {
  margin-top: 50px;
}
main .so-two-out .so-box .so-up {
  width: 140px;
  height: 46px;
  border-left: 10px solid white;
  border-right: 10px solid white;
  border-top: 10px solid white;
  margin: 0 auto;
}
main .so-two-out .so-box h2 {
  color: white;
  text-align: center;
  line-height: 8px;
  margin-bottom: 18px;
}
main .so-two-out .so-box .so-down {
  width: 140px;
  height: 46px;
  border-left: 10px solid white;
  border-right: 10px solid white;
  border-bottom: 10px solid white;
  margin: 0 auto;
}
main .so-two-out .so-box2 {
  height: 412px;
  margin-top: 50px;
}
main .so-two-out .so-box2 .so-box2-1 {
  display: inline-block;
  background: url("../../img/images/channel_solu_yan_2_bg2.png");
  background-repeat: no-repeat;
  width: 180px;
  height: 150px;
  background-size: 100% 100%;
  margin: 0 33px 56px;
  text-align: center;
  overflow: hidden;
}
main .so-two-out .so-box2 .so-box2-1 .so-j1 {
  display: inline-block;
  background: url("../../img/images/channel_solu_yan_2_ico.png");
  background-repeat: no-repeat;
  width: 80px;
  height: 60px;
  background-position: 18px 0;
  margin: 20px 8px auto;
}
main .so-two-out .so-box2 .so-box2-1 .so-j2 {
  display: inline-block;
  background: url("../../img/images/channel_solu_yan_2_ico.png");
  background-repeat: no-repeat;
  width: 80px;
  height: 60px;
  background-position: -70px 0;
  margin: 20px 8px auto;
}
main .so-two-out .so-box2 .so-box2-1 .so-j3 {
  display: inline-block;
  background: url("../../img/images/channel_solu_yan_2_ico.png");
  background-repeat: no-repeat;
  width: 80px;
  height: 60px;
  background-position: -160px 0;
  margin: 20px 8px auto;
}
main .so-two-out .so-box2 .so-box2-1 .so-j4 {
  display: inline-block;
  background: url("../../img/images/channel_solu_yan_2_ico.png");
  background-repeat: no-repeat;
  width: 80px;
  height: 60px;
  background-position: -244px 0;
  margin: 20px 8px auto;
}
main .so-two-out .so-box2 .so-box2-1 .so-j5 {
  display: inline-block;
  background: url("../../img/images/channel_solu_yan_2_ico.png");
  background-repeat: no-repeat;
  width: 80px;
  height: 60px;
  background-position: -335px 0;
  margin: 20px 8px auto;
}
main .so-two-out .so-box2 .so-box2-1 .so-j6 {
  display: inline-block;
  background: url("../../img/images/channel_solu_yan_2_ico.png");
  background-repeat: no-repeat;
  width: 80px;
  height: 60px;
  background-position: -425px 0;
  margin: 20px 8px auto;
}
main .so-two-out .so-box2 .so-box2-1 .so-j7 {
  display: inline-block;
  background: url("../../img/images/channel_solu_yan_2_ico.png");
  background-repeat: no-repeat;
  width: 80px;
  height: 60px;
  background-position: -512px 0;
  margin: 20px 8px auto;
}
main .so-two-out .so-box2 .so-box2-1 p {
  display: inline-block;
  color: white;
  text-align: center;
}
main .so-padding2 {
  width: 1200px;
  height: 1310px;
  background: white;
  margin: 0 auto;
  position: relative;
  top: -80px;
  padding: 20px 40px;
}
main .so-padding2 h3 {
  font-size: 28px;
  margin-bottom: 30px;
}
main .so-padding2 .so-in-tu {
  width: 1100px;
  height: 300px;
  background: url("../../img/images/solve_02.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  overflow: hidden;
  margin-bottom: 80px;
}
main .so-padding2 .so-in-tu .so-in-hr {
  height: 80px;
  width: 500px;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  margin: 0 auto;
  margin-top: 110px;
}
main .so-padding2 .so-in-tu h4 {
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  position: relative;
  top: -60px;
}
main .so-padding2 .panel {
  border-radius: 0;
  border: 0;
}
main .so-padding2 .panel .panel-heading {
  padding: 8px;
}
main .so-padding2 .panel .panel-title {
  overflow: hidden;
}
main .so-padding2 .panel .so-fl {
  float: left;
  line-height: 26px;
}
main .so-padding2 .panel .so-fr {
  display: inline-block;
  width: 26px;
  height: 26px;
  background: url("../../img/images/y-ico.png");
  background-repeat: no-repeat;
  background-position: -196px 0;
  float: right;
}
main .so-padding2 .panel .so-show-tu {
  display: inline-block;
  background: url("../../img/images/solve_03.jpg");
  background-repeat: no-repeat;
  width: 997px;
  height: 501px;
  background-size: 100% 100%;
}
main .so-padding2 .panel .so-show-tu2 {
  display: inline-block;
  background: url("../../img/images/solve_04.jpg");
  background-repeat: no-repeat;
  width: 997px;
  height: 637px;
  background-size: 100% 100%;
}
main .so-padding2 .panel .so-show-tu3 {
  display: inline-block;
  background: url("../../img/images/solve_05.jpg");
  background-repeat: no-repeat;
  width: 997px;
  height: 549px;
  background-size: 100% 100%;
}
main .so-padding2 .panel .so-show-tu4 {
  display: inline-block;
  background: url("../../img/images/solve_06.jpg");
  background-repeat: no-repeat;
  width: 997px;
  height: 549px;
  background-size: 100% 100%;
}
