<!DOCTYPE html>
<html ng-app="app">
<head lang="en">
    <meta charset="UTF-8">
    <title>新闻中心-通铭教育</title>
    <!-- 公共模块-->
    <link rel="stylesheet" href="../css/reset.css"/>
    <link rel="stylesheet" href="../components/bootstrap/dist/css/bootstrap.css">
    <!-- 自定义模块-->
    <link rel="stylesheet" href="../css/about-news/news.css">
</head>
<body>
<main ng-controller="myctrl">

    <div class="ne-head container">
        <div class="row">
        <h3>新闻中心</h3>
        </div>
    </div>

    <div>
        <div class="navi">
            <ul class="navi1">

                <li class="navi2">关于通铭</li>
                <li class="navi2">发展大事件</li>
                <li class="navi2">新闻中心</li>
                <li class="navi2">加入我们</li>
                <li class="navi2">联系我们</li>
            </ul>
        </div>
    </div>

    <!-- start-->
    <div class="ne-lie1 container" ng-if="activeIndex==0">
        <div class="ne-in-1">
            <div class="ne-tu-1">
                <img src="../img/new/1.jpg" alt="" class="ne-img">
            </div>
            <div class="ne-r-1">
                <h2>企业在线学习•行业盛会CEFE，通铭教育邀您来参加！</h2>
                <h4>作者：本站 发布日期：2016-08-30</h4>
                <p>中国企业在线学习大会ChinaE-LearningForum&amp;Exhibition，简称CEFE。<是中国企业探讨和                   ></是中国企业探讨和>研究最新学习技术、学习模式与学习理念的年度盛会。主办方在线教育资讯网（                   www.online-edu.org）是中国唯一十五年来专注于企业在..
                </p>
                <span class="ne-mo">查看详情</span>
            </div>
        </div>

        <div class="ne-in-1">
            <div class="ne-tu-1">
                <img src="../img/new/2.jpg" alt="" class="ne-img">
            </div>
            <div class="ne-r-1">
                <h2>企业在线学习•行业盛会CEFE，通铭教育邀您来参加！</h2>
                <h4>作者：本站 发布日期：2016-08-30</h4>
                <p>中国企业在线学习大会ChinaE-LearningForum&amp;Exhibition，简称CEFE。<是中国企业探讨和></是中国企业探讨和>研究最新学习技术、学习模式与学习理念的年度盛会。主办方在线教育资讯网（www.online-edu.org）是中国唯一十五年来专注于企业在..
                </p>
                <span class="ne-mo">查看详情</span>
            </div>
        </div>

        <div class="ne-in-1">
            <div class="ne-tu-1">
                <img src="../img/new/3.jpg" alt="" class="ne-img">
            </div>
            <div class="ne-r-1">
                <h2>企业在线学习•行业盛会CEFE，通铭教育邀您来参加！</h2>
                <h4>作者：本站 发布日期：2016-08-30</h4>
                <p>中国企业在线学习大会ChinaE-LearningForum&amp;Exhibition，简称CEFE。<是中国企业探讨和                   ></是中国企业探讨和>研究最新学习技术、学习模式与学习理念的年度盛会。主办方在线教育资讯网（                   www.online-edu.org）是中国唯一十五年来专注于企业在..
                </p>
                <span class="ne-mo">查看详情</span>
            </div>
        </div>

        <div class="ne-in-1">
            <div class="ne-tu-1">
                <img src="../img/new/4.jpg" alt="" class="ne-img">
            </div>
            <div class="ne-r-1">
                <h2>企业在线学习•行业盛会CEFE，通铭教育邀您来参加！</h2>
                <h4>作者：本站 发布日期：2016-08-30</h4>
                <p>中国企业在线学习大会ChinaE-LearningForum&amp;Exhibition，简称CEFE。<是中国企业探讨和                   ></是中国企业探讨和>研究最新学习技术、学习模式与学习理念的年度盛会。主办方在线教育资讯网（                   www.online-edu.org）是中国唯一十五年来专注于企业在..
                </p>
                <span class="ne-mo">查看详情</span>
            </div>
        </div>

        <div class="ne-in-1">
            <div class="ne-tu-1">
                <img src="../img/new/5.jpg" alt="" class="ne-img">
            </div>
            <div class="ne-r-1">
                <h2>企业在线学习•行业盛会CEFE，通铭教育邀您来参加！</h2>
                <h4>作者：本站 发布日期：2016-08-30</h4>
                <p>中国企业在线学习大会ChinaE-LearningForum&amp;Exhibition，简称CEFE。<是中国企业探讨和                   ></是中国企业探讨和>研究最新学习技术、学习模式与学习理念的年度盛会。主办方在线教育资讯网（                   www.online-edu.org）是中国唯一十五年来专注于企业在..
                </p>
                <span class="ne-mo">查看详情</span>
            </div>
        </div>

        <div class="ne-in-1">
            <div class="ne-tu-1">
                <img src="../img/new/6.jpg" alt="" class="ne-img">
            </div>
            <div class="ne-r-1">
                <h2>企业在线学习•行业盛会CEFE，通铭教育邀您来参加！</h2>
                <h4>作者：本站 发布日期：2016-08-30</h4>
                <p>中国企业在线学习大会ChinaE-LearningForum&amp;Exhibition，简称CEFE。<是中国企业探讨和                   ></是中国企业探讨和>研究最新学习技术、学习模式与学习理念的年度盛会。主办方在线教育资讯网（                   www.online-edu.org）是中国唯一十五年来专注于企业在..
                </p>
                <span class="ne-mo">查看详情</span>
            </div>
        </div>

    </div>

    <div class="ne-lie1 container" ng-if="activeIndex==1">

        <div class="ne-in-1">
            <div class="ne-tu-1">
                <img src="../img/new/7.jpg" alt="" class="ne-img">
            </div>
            <div class="ne-r-1">
                <h2>企业在线学习•行业盛会CEFE，通铭教育邀您来参加！</h2>
                <h4>作者：本站 发布日期：2016-08-30</h4>
                <p>中国企业在线学习大会ChinaE-LearningForum&amp;Exhibition，简称CEFE。<是中国企业探讨和                   ></是中国企业探讨和>研究最新学习技术、学习模式与学习理念的年度盛会。主办方在线教育资讯网（                   www.online-edu.org）是中国唯一十五年来专注于企业在..
                </p>
                <span class="ne-mo">查看详情</span>
            </div>
        </div>

        <div class="ne-in-1">
            <div class="ne-tu-1">
                <img src="../img/new/8.jpg" alt="" class="ne-img">
            </div>
            <div class="ne-r-1">
                <h2>企业在线学习•行业盛会CEFE，通铭教育邀您来参加！</h2>
                <h4>作者：本站 发布日期：2016-08-30</h4>
                <p>中国企业在线学习大会ChinaE-LearningForum&amp;Exhibition，简称CEFE。<是中国企业探讨和                   ></是中国企业探讨和>研究最新学习技术、学习模式与学习理念的年度盛会。主办方在线教育资讯网（                   www.online-edu.org）是中国唯一十五年来专注于企业在..
                </p>
                <span class="ne-mo">查看详情</span>
            </div>
        </div>

        <div class="ne-in-1">
            <div class="ne-tu-1">
                <img src="../img/new/9.jpg" alt="" class="ne-img">
            </div>
            <div class="ne-r-1">
                <h2>企业在线学习•行业盛会CEFE，通铭教育邀您来参加！</h2>
                <h4>作者：本站 发布日期：2016-08-30</h4>
                <p>中国企业在线学习大会ChinaE-LearningForum&amp;Exhibition，简称CEFE。<是中国企业探讨和                   ></是中国企业探讨和>研究最新学习技术、学习模式与学习理念的年度盛会。主办方在线教育资讯网（                   www.online-edu.org）是中国唯一十五年来专注于企业在..
                </p>
                <span class="ne-mo">查看详情</span>
            </div>
        </div>

        <div class="ne-in-1">
            <div class="ne-tu-1">
                <img src="../img/new/10.jpg" alt="" class="ne-img">
            </div>
            <div class="ne-r-1">
                <h2>企业在线学习•行业盛会CEFE，通铭教育邀您来参加！</h2>
                <h4>作者：本站 发布日期：2016-08-30</h4>
                <p>中国企业在线学习大会ChinaE-LearningForum&amp;Exhibition，简称CEFE。<是中国企业探讨和                   ></是中国企业探讨和>研究最新学习技术、学习模式与学习理念的年度盛会。主办方在线教育资讯网（                   www.online-edu.org）是中国唯一十五年来专注于企业在..
                </p>
                <span class="ne-mo">查看详情</span>
            </div>
        </div>

        <div class="ne-in-1">
            <div class="ne-tu-1">
                <img src="../img/new/11.jpg" alt="" class="ne-img">
            </div>
            <div class="ne-r-1">
                <h2>企业在线学习•行业盛会CEFE，通铭教育邀您来参加！</h2>
                <h4>作者：本站 发布日期：2016-08-30</h4>
                <p>中国企业在线学习大会ChinaE-LearningForum&amp;Exhibition，简称CEFE。<是中国企业探讨和                   ></是中国企业探讨和>研究最新学习技术、学习模式与学习理念的年度盛会。主办方在线教育资讯网（                   www.online-edu.org）是中国唯一十五年来专注于企业在..
                </p>
                <span class="ne-mo">查看详情</span>
            </div>
        </div>

        <div class="ne-in-1">
            <div class="ne-tu-1">
                <img src="../img/new/12.jpg" alt="" class="ne-img">
            </div>
            <div class="ne-r-1">
                <h2>企业在线学习•行业盛会CEFE，通铭教育邀您来参加！</h2>
                <h4>作者：本站 发布日期：2016-08-30</h4>
                <p>中国企业在线学习大会ChinaE-LearningForum&amp;Exhibition，简称CEFE。<是中国企业探讨和                   ></是中国企业探讨和>研究最新学习技术、学习模式与学习理念的年度盛会。主办方在线教育资讯网（                   www.online-edu.org）是中国唯一十五年来专注于企业在..
                </p>
                <span class="ne-mo">查看详情</span>
            </div>
        </div>
    </div>

    <div class="ne-lie1 container" ng-if="activeIndex==2">
        <div class="ne-in-1">
            <div class="ne-tu-1">
                <img src="../img/new/13.jpg" alt="" class="ne-img">
            </div>
            <div class="ne-r-1">
                <h2>企业在线学习•行业盛会CEFE，通铭教育邀您来参加！</h2>
                <h4>作者：本站 发布日期：2016-08-30</h4>
                <p>中国企业在线学习大会ChinaE-LearningForum&amp;Exhibition，简称CEFE。<是中国企业探讨和                   ></是中国企业探讨和>研究最新学习技术、学习模式与学习理念的年度盛会。主办方在线教育资讯网（                   www.online-edu.org）是中国唯一十五年来专注于企业在..
                </p>
                <span class="ne-mo">查看详情</span>
            </div>
        </div>

        <div class="ne-in-1">
            <div class="ne-tu-1">
                <img src="../img/new/14.jpg" alt="" class="ne-img">
            </div>
            <div class="ne-r-1">
                <h2>企业在线学习•行业盛会CEFE，通铭教育邀您来参加！</h2>
                <h4>作者：本站 发布日期：2016-08-30</h4>
                <p>中国企业在线学习大会ChinaE-LearningForum&amp;Exhibition，简称CEFE。<是中国企业探讨和                   ></是中国企业探讨和>研究最新学习技术、学习模式与学习理念的年度盛会。主办方在线教育资讯网（                   www.online-edu.org）是中国唯一十五年来专注于企业在..
                </p>
                <span class="ne-mo">查看详情</span>
            </div>
        </div>
    </div>

    <!--分页按钮-->
    <div class="ne-na">
    <ul class="ne-nav list-inline">
        <li ng-class="{'active':activeIndex==0}"
        ng-click="changeIndex(0)">首页</li>
        <li ng-class="{'active':activeIndex==0}"
            ng-click="changeIndex(0)">上一页</li>
        <li ng-class="{'active':activeIndex==0}"
            ng-click="changeIndex(0)">1</li>
        <li ng-class="{'active':activeIndex==1}"
            ng-click="changeIndex(1)">2</li>
        <li ng-class="{'active':activeIndex==2}"
            ng-click="changeIndex(2)">3</li>
        <li ng-class="{'active':activeIndex==2}"
            ng-click="changeIndex(2)">下一页</li>
        <li ng-class="{'active':activeIndex==2}"
            ng-click="changeIndex(2)">尾页</li>
    </ul>
        <p class="ne-p">共3页，14条记录</p>
    </div>

<!--end-->

</main>

<!--公共模块-->
<script src="../components/jquery/dist/jquery.js"></script>
<script src="../components/bootstrap/dist/js/bootstrap.js"></script>
<script src="../components/angular/angular.js"></script>
<script src="../components/angular-ui-router/release/angular-ui-router.js"></script>
<!--自定义模块-->
<script src="../js/aboutNew/aboutNew.js"></script>
</body>
</html>